.redirect-button {
  background-color: red !important;
}

.onestep-tiny-header-fix {
  font-size: 24px;
}

.footer-container {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #f2f2f2;
  margin-top: 50px;
}

.footer-table-container {
  width: 100%;
}

.header-banner {
  background-color: white;
}

.padding-from-above {
  padding-top: 50px;
}

.clickable-banner-icon {
  padding-right: 25px;
  padding-left: 25px;
}

.header-thin {
  margin: 0px;
}

.banner-data-container {
  width: 100%;
}

.banner-element-header-container {
  width: 250px;
}

.banner-element-quote-container {
  padding-top: 17px;
  opacity: 50%;
}

.ant-table-pagination.ant-pagination {
  padding-right: 10px;
}

.dashboard-background-container {
  background-color: #f2f2f2;
}

.dashboard-container {
  margin-left: 25px;
  margin-right: 25px;
}
.user-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 5px 5px #c9c9c9;
}

.user-container-table {
  text-align: left;
  margin: auto;
  width: 97%;
}

.user-container-icon-holder {
  width: 1px !important;
  white-space: nowrap;
}

.user-element-container {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-element-container-button {
  margin-right: 25px;
}

.user-element-header-container {
  margin-top: 5px;
  width: 300px;
}

.user-element-header {
  margin-bottom: -10px;
}

.spacing {
  width: 100%;
}

.spacing-half {
  width: 100%;
}

.user-role-container {
  opacity: 50%;
}

.clickable-icon {
  margin: 5px;
}

.leftSide {
  float: left;
}

.leftSide td {
  padding: 0px 10px;
}

.rightSide {
  float: right;
}

.padded {
  padding: 5px;
}
